<?xml version="1.0" encoding="UTF-8"?>
<manifest>
  <remote name="aios" fetch="https://github.com/snooplsm" />
  <project
      name="aios"
      path="vendor/aios"
      remote="aios"
      revision="main" />
</manifest>
