<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.aios.permission.USE_COMMUNICATION_CONTEXT" />

    <application>
        <activity
            android:name="com.aios.contextintelligence.ContextLifecycleSmokeActivity"
            android:exported="true" />
    </application>
</manifest>
